In [2]:
import pandas as pd
import openpyxl

In [3]:
# load in the fragments from the excel file
df = pd.read_excel('files/Sequences for fragmentation.xlsx')
df.head()

    Reference                                           Sequence
0  HM535790.1  atgagcaagatctttgttaatccgagtgcaatcagagccggtctgg...
1  AF042824.1  atggttcctcaggttcttttgtttgtactccttctgggtttttcgt...
2  HM535790.1  atggttcctcaggttcttttgtttgtactccttctgggtttttcgt...
3    M31046.1  atggttcctcaggctctcctgtttgtaccccttctggtttttccat...
4  JX276550.1  atggttcctcaggctctcctgtttgtaccccttctggtttttccat...

In [4]:
# write the data to a fasta file and set the sequence to uppercase
with open('files/reference_seq.fasta', 'w') as f:
    for index, row in df.iterrows():
        f.write(f'>{row["Reference"]}\n{row["Sequence"].lower()}\n')