In [1]:
import pandas as pd

p005 = pd.read_csv('/lunarc/nobackup/projects/lu2024-17-19/J_rAAven/BRAVE/raav-60/p005/library_barcodes.csv')

/tmp/ipykernel_2332308/1929727819.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  p005 = pd.read_csv('/lunarc/nobackup/projects/lu2024-17-19/J_rAAven/BRAVE/raav-60/p005/library_barcodes.csv')

,BC,LUTnr,bitScore,mismatches,tCount,mCount,Mode,Reads,identity,alignmentLength,gapOpens,q_start,q_end,s_start,s_end,evalue
0,ACGAAACCTAGAAAGACGGCAACCCTC,seq_23129,41.7,1.0,2,2.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ACGAAACCTTCAAACCTTCCAATCAGG,seq_15145,47.3,0.0,2,2.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ACGAAACGAACCATCATTTAAGGCTTC,seq_1054,47.3,0.0,2,2.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ACGAAACGCGCATTTACTCGAGCGCTC,seq_31374,44.5,0.5,2,2.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ACGAAAGCCGGGCACATACCCAGGCAC,seq_1118,47.3,0.0,2,2.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
p005.sort_values(by='mCount', ascending=False).head(20)

,BC,LUTnr,bitScore,mismatches,tCount,mCount,Mode,Reads,identity,alignmentLength,gapOpens,q_start,q_end,s_start,s_end,evalue
86017,TCGGATCGAGTATAGGCACCAGTGCAT,seq_25253,46.457576,0.0,33,33.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88397,TCGGCACCTTCCCGGATACCCTCCTTC,seq_7854,46.527586,0.0,29,29.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92573,TCGGCTCCCGTACTTGCGCACACATAT,seq_37275,47.045455,0.0,22,22.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27291,TCGACTCCTTCCAGTACACACTCCTAC,seq_5921,47.300000,0.0,20,20.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78940,TCGCTTGAAACATTCCATCATACCATC,seq_19327,47.020000,0.0,20,20.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78206,TCGCTTCCAGTACGCAAATAAGTCTAC,seq_39413,47.300000,0.0,16,16.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14862,TCGAATTATGTAAATCTATACGGGATC,seq_5796,47.300000,0.0,16,16.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18354,TCGACACGATCCTATCCTGATTGGATT,seq_21783,47.300000,0.0,15,15.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6431,TCGAAATAAATAAGCGATTAAATACGC,seq_21914,47.300000,0.0,15,15.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72799,TCGCTACGCAGCCGTCCATCCTTCTAT,seq_33563,47.300000,0.0,15,15.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44240,TCGCAAGGCTTCATTCTTCAAAGATTT,seq_16689,47.300000,0.0,14,14.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83141,TCGGAATCAACATTGCATTGTGCAATC,seq_37324,47.300000,0.0,11,11.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54490,TCGCATTGTTGCTATACAGAAATCATT,seq_20138,47.300000,0.0,11,11.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66990,TCGCCTCCCGGCATCCTTTAAAGATTC,seq_28234,47.300000,0.0,11,11.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78514,TCGCTTCCCTTAATCCAGTCAACCAAC,seq_15594,45.630000,0.0,10,10.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32690,TCGATAGACGCACTCCCTTCCTGCTAC,seq_31834,47.300000,0.0,10,10.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82128,TCGGAAGAAATCATCCTTCGATGATAC,seq_38793,45.260000,0.0,10,10.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9831,TCGAAGGAAACCTTTGTGTGAACCTAT,seq_30743,47.300000,0.0,10,10.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81851,TCGGAACGAACCCTCGTACCCTTACGC,seq_19996,46.180000,0.0,10,10.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16129,TCGACACAATCCTACGCACCTATAAGT,seq_25637,47.300000,0.0,10,10.0,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
p005.sort_values(by='bitScore', ascending=False).head(20)

,BC,LUTnr,bitScore,mismatches,tCount,mCount,Mode,Reads,identity,alignmentLength,gapOpens,q_start,q_end,s_start,s_end,evalue
42162315,TCGCATTCAGCGCGGACTTAAGCCAGT,seq_28082,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284262,TCGCCTCCCTGGCAGCAGTAATGGATC,seq_8625,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284280,TCGCCTCCCTGGCAGCATCAATGCAGG,seq_24284,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284279,TCGCCTCCCTGGCAGCATCAATGCAGG,seq_23302,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284278,TCGCCTCCCTGGCAGCATCAATGCAGG,seq_2187,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284277,TCGCCTCCCTGGCAGCATCAATGCAGG,seq_21349,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284276,TCGCCTCCCTGGCAGCATCAATGCAGG,seq_19660,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284275,TCGCCTCCCTGGCAGCATCAATGCAGG,seq_19604,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284273,TCGCCTCCCTGGCAGCATCAATGCAGG,seq_16266,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284272,TCGCCTCCCTGGCAGCATCAATGCAGG,seq_15016,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284271,TCGCCTCCCTGGCAGCATCAATGCAGG,seq_15006,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284270,TCGCCTCCCTGGCAGCATCAATGCAGG,seq_128,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284269,TCGCCTCCCTGGCAGCATCAATGCAGG,seq_10630,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284268,TCGCCTCCCTGGCAGCATCAATGCAGG,seq_10143,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284267,TCGCCTCCCTGGCAGCAGTAATGGATC,seq_9898,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284265,TCGCCTCCCTGGCAGCAGTAATGGATC,seq_9178,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284264,TCGCCTCCCTGGCAGCAGTAATGGATC,seq_910,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284281,TCGCCTCCCTGGCAGCATCAATGCAGG,seq_25163,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284282,TCGCCTCCCTGGCAGCATCAATGCAGG,seq_25280,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53284284,TCGCCTCCCTGGCAGCATCAATGCAGG,seq_26690,47.3,0.0,1,NaN,Amb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
# get all entries where mcount == total tcount
new = p005[p005['mCount'] == p005['tCount']].sort_values(by='mCount', ascending=False)
new[new["LUTnr"] == "seq_22420"]

,BC,LUTnr,bitScore,mismatches,tCount,mCount,Mode,Reads,identity,alignmentLength,gapOpens,q_start,q_end,s_start,s_end,evalue
28199,TCGCCGCGAGTACGTACGCATGGCCGT,seq_22420,44.525,0.0,4,4,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10883,TCGACGTGATTGAGTATGCAAGCCTGT,seq_22420,47.300,0.0,3,3,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31169,TCGCCTTCAACACGTATACAAATGCGC,seq_22420,47.300,0.0,2,2,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3027,TCGAAATCTACGAAGATACCCATAATT,seq_22420,47.300,0.0,2,2,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5469,TCGAATGAAAGATACAAATGAACAATT,seq_22420,47.300,0.0,2,2,Def,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4101608,TCGGCGTGATGATATGCTCCAATGAAC,seq_22420,47.300,0.0,1,1,Amb,CTGTGCCCACCAGCTGCGCCGAGGC,100.0,25.0,0.0,1.0,25.0,20.0,44.0,1.030000e-07
4082730,TCGCCGCACACAAACAAACCAACCCCA,seq_22420,30.700,3.0,1,1,Amb,CTGTCCCCACCCGCTCCGCCGAGGC,88.0,25.0,0.0,1.0,25.0,20.0,44.0,1.000000e-02
4094553,TCGCATTATTTGTACGAACAAGCCAGC,seq_22420,47.300,0.0,1,1,Amb,CTGTGCCCACCAGCTGCGCCGAGGC,100.0,25.0,0.0,1.0,25.0,20.0,44.0,1.030000e-07
3992956,TCGATTTCAACCCGTCTTTCCAGCAAT,seq_22420,47.300,0.0,1,1,Amb,CTGTGCCCACCAGCTGCGCCGAGGC,100.0,25.0,0.0,1.0,25.0,20.0,44.0,1.030000e-07
4007772,TCGCATCCTTCCATGCCTGCCACACTA,seq_22420,28.800,2.0,1,1,Amb,CTGGCCTGCGGCTCAGCTGGGGGGC,88.0,25.0,1.0,1.0,25.0,47.0,24.0,3.700000e-02

In [7]:
import pandas as pd
df = pd.read_csv('/lunarc/nobackup/projects/lu2024-17-19/J_rAAven/BRAVE/Brave/final_fragments_summary.csv')
df.head()

,Group,Category,AAstart,AAend,Structure,Peptide,start,end,width,seqlength,...,LUTnr,RNAcount,Normalized_RNAcount,bitScore,BC_count,BC_adjusted_count,AAwidth,AAseqlength,AA_pos,AA_rel_pos
0,DNA_AAVlib_DNAse_30cpc_1,"Adeno-associated virus,VP1,AAV1,,#125,AAV1-VP1",1,15,14aa,AADGYLPDWLEDNL,3,45,42,2208,...,seq_127,251,1050.197240,79.800820,1,1050.197240,14,736,8,0.010870
1,DNA_AAVlib_DNAse_30cpc_1,"Adeno-associated virus,VP1,AAV1,,#125,AAV1-VP1",2,16,14aa,ADGYLPDWLEDNLS,6,48,42,2208,...,seq_231,50,209.202637,80.895238,1,209.202637,14,736,9,0.012228
2,DNA_AAVlib_DNAse_30cpc_1,"Adeno-associated virus,VP1,AAV1,,#125,AAV1-VP1",3,17,14aa,DGYLPDWLEDNLSE,9,51,42,2208,...,seq_324,48,200.834532,86.100000,1,200.834532,14,736,10,0.013587
3,DNA_AAVlib_DNAse_30cpc_1,"Adeno-associated virus,VP1,AAV1,,#125,AAV1-VP1",3,17,14aaA5,DGYLPDWLEDNLSE,9,51,42,2208,...,seq_44928,11,46.024580,106.733333,1,46.024580,14,736,10,0.013587
4,DNA_AAVlib_DNAse_30cpc_1,"Adeno-associated virus,VP1,AAV1,,#125,AAV1-VP1",3,25,22aa,DGYLPDWLEDNLSEGIREWWDL,9,75,66,2208,...,seq_76600,53,221.754796,88.673529,1,221.754796,22,736,14,0.019022

In [8]:
df["BC_count"].unique()

array([1])

In [6]:
df["BC_count"] = df['BC'].str.split(',').apply(len)
df.head()

,Group,Category,AAstart,AAend,Structure,Peptide,start,end,width,seqlength,...,LUTnr,RNAcount,Normalized_RNAcount,bitScore,BC_count,BC_adjusted_count,AAwidth,AAseqlength,AA_pos,AA_rel_pos
0,DNA_AAVlib_DNAse_30cpc_1,"Adeno-associated virus,VP1,AAV1,,#125,AAV1-VP1",1,15,14aa,AADGYLPDWLEDNL,3,45,42,2208,...,seq_127,251,1050.197240,79.800820,12,1050.197240,14,736,8,0.010870
1,DNA_AAVlib_DNAse_30cpc_1,"Adeno-associated virus,VP1,AAV1,,#125,AAV1-VP1",2,16,14aa,ADGYLPDWLEDNLS,6,48,42,2208,...,seq_231,50,209.202637,80.895238,3,209.202637,14,736,9,0.012228
2,DNA_AAVlib_DNAse_30cpc_1,"Adeno-associated virus,VP1,AAV1,,#125,AAV1-VP1",3,17,14aa,DGYLPDWLEDNLSE,9,51,42,2208,...,seq_324,48,200.834532,86.100000,5,200.834532,14,736,10,0.013587
3,DNA_AAVlib_DNAse_30cpc_1,"Adeno-associated virus,VP1,AAV1,,#125,AAV1-VP1",3,17,14aaA5,DGYLPDWLEDNLSE,9,51,42,2208,...,seq_44928,11,46.024580,106.733333,2,46.024580,14,736,10,0.013587
4,DNA_AAVlib_DNAse_30cpc_1,"Adeno-associated virus,VP1,AAV1,,#125,AAV1-VP1",3,25,22aa,DGYLPDWLEDNLSEGIREWWDL,9,75,66,2208,...,seq_76600,53,221.754796,88.673529,3,221.754796,22,736,14,0.019022

In [ ]:
library_barcodes.shape

In [53]:
library_barcodes.columns

Index(['Category', 'GeneName', 'AAstart', 'AAend', 'Structure', 'Peptide',
       'Sequence', 'LUTnr', 'start', 'end', 'width', 'BC', 'bitScore',
       'mismatches', 'tCount', 'mCount', 'Mode'],
      dtype='object')

In [ ]:
library_barcodes = library_barcodes.drop(columns=[ 'Reads', 'identity','alignmentLength', 'gapOpens', 'q_start', 'q_end', 's_start', 's_end','evalue'])
library_barcodes.columns

In [54]:
# reorganize columns
library_barcodes = library_barcodes[['Category', 'GeneName', 'LUTnr',  'BC', 'AAstart', 'AAend', 'Structure', 'Peptide',
    'start', 'end', 'width', 'Sequence', 'bitScore',
    'mismatches', 'tCount', 'mCount', 'RNAcount', 'Mode']]

In [55]:
library_barcodes.head()

,Category,GeneName,LUTnr,BC,AAstart,AAend,Structure,Peptide,start,end,width,Sequence,bitScore,mismatches,tCount,mCount,Mode
0,Neurotrophin,NGF,seq_1,CATGCTATAAGGGAAGATTT,0,14,14aa,EPYTDSNVPEGDSV,0,42,42,GAGCCCTACACCGACAGCAACGTGCCCGAGGGCGACAGCGTG,114.00,2.5,2,2,Def
1,Neurotrophin,NGF,seq_1,GTGTGTTGCCTTCATTCAGC,0,14,14aa,EPYTDSNVPEGDSV,0,42,42,GAGCCCTACACCGACAGCAACGTGCCCGAGGGCGACAGCGTG,117.00,1.0,2,2,Def
2,Neurotrophin,NGF,seq_1,ACATGTTCATGTGCGCGCTG,0,14,14aa,EPYTDSNVPEGDSV,0,42,42,GAGCCCTACACCGACAGCAACGTGCCCGAGGGCGACAGCGTG,75.00,0.0,5,3,Def
3,Neurotrophin,NGF,seq_1,ATAGCAGGATGTCAGTGTGG,0,14,14aa,EPYTDSNVPEGDSV,0,42,42,GAGCCCTACACCGACAGCAACGTGCCCGAGGGCGACAGCGTG,125.25,0.0,5,4,Def
4,Neurotrophin,NGF,seq_1,ATGTGTTTGAAGGATGGATT,0,14,14aa,EPYTDSNVPEGDSV,0,42,42,GAGCCCTACACCGACAGCAACGTGCCCGAGGGCGACAGCGTG,126.00,1.0,7,3,Def

In [86]:
import pandas as pd
library_barcodes = pd.read_csv('/lunarc/nobackup/projects/lu2024-17-19/J_rAAven/BRAVE/0_data/pos_library_barcodes.csv')
library_barcodes.shape

(3261305, 18)

In [92]:
found_barcodes = pd.read_csv('/lunarc/nobackup/projects/lu2024-17-19/J_rAAven/BRAVE/0_data/found_barcodes/found.mRNA_30cpc_Th.csv')
found_barcodes.head()

,BC,LUTnr,bitScore,mismatches,tCount,mCount,Mode,Reads,identity,alignmentLength,...,Category,GeneName,AAstart,AAend,Structure,Peptide,Sequence,start,end,width
0,GTGCCTAGACTCCCAGCCTT,seq_88507,122.000000,0.0,1,1,Amb,CTTACGCCACCGGCAGCAGCCCCGACGTGCAGATCACCGCCAGCCT...,100.0,66.0,...,Theilers murine encephalomyelitis virus,TMEV-VP2,234,256,22aa,YATGSSPDVQITASLQPVNPVF,TACGCCACCGGCAGCAGCCCCGACGTGCAGATCACCGCCAGCCTGC...,702,768,66
1,GTACGTGCACGCGTCATT,seq_78536,78.666667,0.0,3,3,Def,NaN,NaN,NaN,...,Neurotoxin,BoNT/F Hc,204,226,22aa,KVFDTELGKTEIETLYSDEPDP,AAGGTGTTCGACACCGAGCTGGGCAAGACCGAGATCGAGACCCTGT...,612,678,66
2,GTACGGACATCAGCATGC,seq_34770,76.200000,0.0,5,3,Def,NaN,NaN,NaN,...,Human immunodeficiency virus type 1,HIV-gp120-TH90129_1,210,224,14aa,GPCTNVSTVQCTHG,GGCCCCTGCACCAACGTGAGCACCGTGCAGTGCACCCACGGC,630,672,42
3,GTGTGTATGGGCGTATGG,seq_21642,78.700000,0.0,2,2,Def,NaN,NaN,NaN,...,Herpes simplex virus type 1,HSV-1-pUS8,393,407,14aa,GADLAEPTHPHVGA,GGCGCCGACCTGGCCGAGCCCACCCACCCCCACGTGGGCGCC,1179,1221,42
4,GTACGCGTAGGAGTCCAC,seq_22869,78.700000,0.0,2,1,Def,NaN,NaN,NaN,...,Herpes simplex virus type 1,HSV-1-pUL19,1112,1126,14aa,ATVRNPVTDMGNLP,GCCACCGTGCGGAACCCCGTGACCGACATGGGCAACCTGCCC,3336,3378,42

In [88]:

# concat dataframes but only keep the columns that are in both dataframes
combined = pd.concat([library_barcodes, found_barcodes], join='inner')

In [81]:
def get_ref_sequence_length_df(file_path:str) -> pd.DataFrame:
    """
    Reads a FASTA file containing reference sequences and returns a DataFrame with sequence ids and lengths.
    Args:
        file_path (str): path to the file containing the reference sequences

    Returns:
        pd.DataFrame: DataFrame with the reference sequence ids and lengths
    """
    
    # read in file with original sequences
    seqs_original = list(SeqIO.parse(file_path, "fasta"))
    # translate sequences to amino acids
    seq = [str(seq_record.seq).strip() for seq_record in seqs_original]
    # get sequence ids
    ids = [seq_record.description for seq_record in seqs_original]
    # get sequence categories
    categories = [id.split(",")[0] for id in ids]
    # get the GeneName
    gene_names = [id.split(",")[5] for id in ids]
    
    # create a DataFrame with sreference sequence ids and lengths
    ref_seq_len_df = pd.DataFrame({"Category": categories,
                                    "GeneName": gene_names,
                                    "seqlength": [len(s) for s in seq]})
    
    return ref_seq_len_df

In [82]:
df = get_ref_sequence_length_df('/lunarc/nobackup/projects/lu2024-17-19/J_rAAven/BRAVE/input/DNA-lib_RetrogradeTransport.fasta')

In [100]:
import os

test = "DNA_pscAAVlib_Prep2_1.fastq.gz"
test_name=os.path.basename(test).replace('.fastq.gz', '')
print(test_name)

DNA_pscAAVlib_Prep2_1